manifest {
    homePage = 'https://github.com/iarcbioinfo/abra-nf'
    description = 'Nextflow pipeline for ABRA'
    mainScript = 'abra.nf'
}

profiles {
  conda { process.conda = "$baseDir/environment.yml" }
  docker { 
    docker.enabled = true 
    process.container = 'iarcbioinfo/abra-nf'
  }
  singularity { 
    singularity.enabled = true 
    process.container = 'iarcbioinfo/abra-nf'
  }
}

process {
	container = 'iarcbioinfo/abra-nf:dev'
	shell =  ['/bin/bash','-o','pipefail']
}

params.output_folder="."

timeline {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/abra-nf_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/abra-nf_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/abra-nf_trace.txt"
}

dag {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/abra-nf_dag.html"
}

timeline.enabled = true
trace.enabled = true
